/* header colour one */

body {
    text-align: left;
    padding-left: 220px;
    padding-right: 220px;
}


html {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
background: #c5deea; /* Old browsers */
background: -moz-linear-gradient(top,  hsla(199,47%,85%,1) 0%, hsla(202,49%,69%,1) 31%, hsla(203,93%,35%,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  hsla(199,47%,85%,1) 0%,hsla(202,49%,69%,1) 31%,hsla(203,93%,35%,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  hsla(199,47%,85%,1) 0%,hsla(202,49%,69%,1) 31%,hsla(203,93%,35%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
}

.box {
    color: darkblue;
    background-color: rgba(156, 27, 27, 0.322);
    height: 720px;
    width: 1080px;
    text-align: center;
    padding: 30px;
    padding-inline-start: 40px;
    scroll-padding-inline-start: auto;
    width: 840px;
}

ul {
    text-align: left;
}

h6 {
    text-align: center;
}